name: PDF to PNG
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  CompileLatexAndConvertToPNG:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      
      - name: Install Xelatex
        run: |
          sudo apt-get install texlive
          sudo apt-get install texlive-xetex
          sudo apt-get install texlive-fonts-extra 

      - name: Compile Resume PDF
        run: |
          xelatex resume.tex
          xelatex resumeCN.tex

      - name: Install ghostscript
        run: sudo apt install ghostscript
        
      - name: Change ImageMagick policy
        run: |
          DQT='"' 
          SRC="rights=${DQT}none${DQT} pattern=${DQT}PDF${DQT}"
          RPL="rights=${DQT}read\|write${DQT} pattern=${DQT}PDF${DQT}"
          sudo sed -i "s/$SRC/$RPL/" /etc/ImageMagick-6/policy.xml
          sudo sed -i '/disable ghostscript format types/,+6d' /etc/ImageMagick-6/policy.xml
          sudo sed -i -E 's/name="memory" value=".+"/name="memory" value="8GiB"/g' /etc/ImageMagick-6/policy.xml
          sudo sed -i -E 's/name="map" value=".+"/name="map" value="8GiB"/g' /etc/ImageMagick-6/policy.xml
          sudo sed -i -E 's/name="area" value=".+"/name="area" value="8GiB"/g' /etc/ImageMagick-6/policy.xml
          sudo sed -i -E 's/name="disk" value=".+"/name="disk" value="8GiB"/g' /etc/ImageMagick-6/policy.xml
          
      - name: Convert PDF to PNG
        run: |
          convert -density 900 -background white -alpha off resume.pdf -quality 90 -colorspace RGB resume.png
          convert -density 900 -background white -alpha off resumeCN.pdf -quality 90 -colorspace RGB resumeCN.png 
        
      - name: Commit PNG and PDF
        id: commit
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add resume*.png resume*.pdf
          if [-z "$(git status --porcelain)"]; then
             echo "::set-output name=push::false"
          else
             git commit -m "[bot] updated cv pdf and images"
             echo "::set-output name=push::true"
          fi
        shell: bash
        
      - name: Push Commit
        if: steps.commit.outputs.push == 'true'
        uses: ad-m/github-push-action@master
        with:
           github_token: ${{ secrets.SECRET_TOKEN }}
